# Entity Extraction with Generative Models

This notebook demonstrates how to use Cohere's generative models to extract the name of a film from the title of an article. This demonstrates Named Entity Recognition (NER) of entities which are harder to isolate using other NLP methods (and where pre-training provides the model with some context on these entities). This also demonstrates the broader usecase of sturctured generation based on providing multiple examples in the prompt.



![Extracting Entities from text](https://github.com/cohere-ai/notebooks/raw/main/notebooks/images/keyword-extraction-gpt-models.png)


We'll use post titles from the r/Movies subreddit. And for each title, we'll extract which movie the post is about. If the model is unable to detect the name of a movie being mentioned, it will return "none".

## Setup
Let's start by installing the packages we need.

In [1]:
!pip install cohere requests tqdm

Collecting cohere
  Downloading cohere-4.11.2-py3-none-any.whl (39 kB)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (4.65.0)
Requirement already satisfied: aiohttp<4.0,>=3.0 in /usr/local/lib/python3.10/dist-packages (from cohere) (3.8.4)
Collecting backoff<3.0,>=2.0 (from cohere)
  Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Collecting importlib_metadata<7.0,>=6.0 (from cohere)
  Downloading importlib_metadata-6.7.0-py3-none-any.whl (22 kB)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0,>=3.0->cohere) (23.1.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0,>=3.0->cohere) (6.0.4)
Requirement already satisfied: async-timeout<5.0,>=4.0.0a3 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0,>=3.0->cohere) (4.0.2)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0,>=3.0->cohere) (1.9.2)
Requirement already satisfied: frozenlist>=1.1.1 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0,>=3.0->cohere) (1.3.3)
Requirement already satisfied: aiosignal>=1.1.2 in /usr/local/lib/python3.10/dist-packages (from aiohttp<4.0,>=3.0->cohere) (1.3.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.10/dist-packages (from importlib_metadata<7.0,>=6.0->cohere) (3.15.0)
Installing collected packages: importlib_metadata, backoff, cohere
Successfully installed backoff-2.2.1 cohere-4.11.2 importlib_metadata-6.7.0

We'll then import these packages and declare the function that retrieves post titles from reddit.

In [14]:
import cohere
import pandas as pd
import requests
import datetime
from tqdm import tqdm
pd.set_option('display.max_colwidth', None)

def get_post_titles(**kwargs):
    """ Gets data from the pushshift api. Read more: https://github.com/pushshift/api """
    base_url = f"https://api.pushshift.io/reddit/search/submission/"
    payload = kwargs
    request = requests.get(base_url, params=payload)
    print(request.json())
    # return [a['title'] for a in request.json()['data']]

You'll need your API key for this next cell. [Sign up to Cohere](https://os.cohere.ai/) and get one if you haven't yet.

In [3]:
# Paste your API key here. Remember to not share publicly
api_key = '263AjTqtMaRsy4Dehu6ko2ThCjC6KS85e8dF45ZV'

# Create and retrieve a Cohere API key from os.cohere.ai
co = cohere.Client(api_key)

## Preparing examples for the prompt

In our prompt, we'll present the model with examples for the type of output we're after. We basically get a set of subreddit article titles, and label them ourselves. The label here is the name of the movie mentioned in the title (and "none" if no movie is mentioned).


![Labeled dataset of text and extracted text](https://github.com/cohere-ai/notebooks/raw/main/notebooks/images/keyword-extraction-dataset.png)

In [4]:

movie_examples = [
("Deadpool 2", "Deadpool 2 | Official HD Deadpool's \"Wet on Wet\" Teaser | 2018"),
("none", "Jordan Peele Just Became the First Black Writer-Director With a $100M Movie Debut"),
("Joker", "Joker Officially Rated “R”"),
("Free Guy", "Ryan Reynolds’ 'Free Guy' Receives July 3, 2020 Release Date - About a bank teller stuck in his routine that discovers he’s an NPC character in brutal open world game."),
("none", "James Cameron congratulates Kevin Feige and Marvel!"),
("Guardians of the Galaxy", "The Cast of Guardians of the Galaxy release statement on James Gunn"),
]



## Creating the extraction prompt

We'll create a prompt that demonstrates the task to the model. The prompt contains the examples above, and then presents the input text and asks the model to extract the movie name.


![Extraction prompt containing the examples and the input text](https://github.com/cohere-ai/notebooks/raw/main/notebooks/images/extraction-prompt-example.png)

In [20]:
#@title Create the prompt (Run this cell to execute required code) {display-mode: "form"}

class cohereExtractor():
    def __init__(self, examples, example_labels, labels, task_desciption, example_prompt):
        self.examples = examples
        self.example_labels = example_labels
        self.labels = labels
        self.task_desciption = task_desciption
        self.example_prompt = example_prompt

    def make_prompt(self, example):
        examples = self.examples + [example]
        labels = self.example_labels + [""]
        return (self.task_desciption +
                "\n---\n".join( [examples[i] + "\n" +
                                self.example_prompt +
                                 labels[i] for i in range(len(examples))]))

    def extract(self, example):
      extraction = co.generate(
          model='command',
          prompt=self.make_prompt(example),
          max_tokens=10,
          temperature=0.1,
          stop_sequences=["\n"])
      return(extraction.generations[0].text[:-1])


cohereMovieExtractor = cohereExtractor([e[1] for e in movie_examples],
                                       [e[0] for e in movie_examples], [],
                                       "",
                                       "extract the movie title from the post:")

# Uncomment to inspect the full prompt:
# print(cohereMovieExtractor.make_prompt('<input text here>'))

In [8]:
# This is what the prompt looks like:
print(cohereMovieExtractor.make_prompt('<input text here>'))

Deadpool 2 | Official HD Deadpool's "Wet on Wet" Teaser | 2018
extract the movie title from the post:Deadpool 2
---
Jordan Peele Just Became the First Black Writer-Director With a $100M Movie Debut
extract the movie title from the post:none
---
Joker Officially Rated “R”
extract the movie title from the post:Joker
---
Ryan Reynolds’ 'Free Guy' Receives July 3, 2020 Release Date - About a bank teller stuck in his routine that discovers he’s an NPC character in brutal open world game.
extract the movie title from the post:Free Guy
---
James Cameron congratulates Kevin Feige and Marvel!
extract the movie title from the post:none
---
The Cast of Guardians of the Galaxy release statement on James Gunn
extract the movie title from the post:Guardians of the Galaxy
---
<input text here>
extract the movie title from the post:

## Getting the data
Let's now make the API call to get the top posts for 2021 from r/movies.

In [15]:
num_posts = 10

movies_list = get_post_titles(size=num_posts,
      after=str(int(datetime.datetime(2021,1,1,0,0).timestamp())),
      before=str(int(datetime.datetime(2022,1,1,0,0).timestamp())),
      subreddit="movies",
      sort_type="score",
      sort="desc")

# Show the list
movies_list

{'detail': 'Not authenticated'}

## Running the model
And now we loop over the posts and process each one of them with our extractor.

In [16]:
movies_list = ['Avengers: Endgame is on air in the next week', 'My favorite movie is the terminator series','What is the best Harry Porter movie in your mind?']

In [21]:
results = []
for text in tqdm(movies_list):
    try:
        extracted_text = cohereMovieExtractor.extract(text)
        results.append(extracted_text)
    except Exception as e:
        print('ERROR: ', e)

100%|██████████| 3/3 [00:01<00:00,  1.69it/s]

Let's look at the results:

In [22]:
results

['Avengers: Endgam', 'terminato', 'Harry Porte']

In [23]:
pd.DataFrame(data={'text': movies_list, 'extracted_text': results})

                                                text    extracted_text
0       Avengers: Endgame is on air in the next week  Avengers: Endgam
1         My favorite movie is the terminator series         terminato
2  What is the best Harry Porter movie in your mind?       Harry Porte

Looking at these results, the model got 9/10 correctly. It didn't pick up on Shaolin Soccer and God of Gambler in example \#4. It also called the second example "Pixar's Luca" instead of "Luca". But maybe we'll let this one slide.

When experimenting with extrction prompts, we'll often find edge-cases along the way. What if a post has two movies mentioned, for example? The more we run into such examples, the more examples we can add to the prompt that address these cases.

## How well does this work?
We can better measure the performance of this extraction method using a larger labeled dataset. So let's load a test set of 100 examples:

In [24]:
test_df = pd.read_csv('https://raw.githubusercontent.com/cohere-ai/notebooks/main/notebooks/data/movie_extraction_test_set_100.csv',index_col=0)
test_df

,text,label
0,Disney's streaming service loses some movies due to old licensing deals,none
1,"Hi, I’m Sam Raimi, producer of THE GRUDGE which hits theaters tonight. Ask Me Anything!",The Grudge
2,'Parasite' Named Best Picture by Australia's AACTA Awards,Parasite
3,Danny Trejo To Star In Vampire Spaghetti Western ‘Death Rider in the House of Vampires’,Death Rider in the House of Vampires
4,I really wish the 'realistic' CGI animal trend would end.,none
...,...,...
95,Hair Love | Oscar Winning Short Film (Full),Hair Love
96,First image of Jason Alexander in Christian film industry satire 'Faith Based',Faith Based
97,"'Borderlands' Movie in the Works From Eli Roth, Lionsgate",Borderlands
98,"Taika Waititi putting his Oscar ""away"" after winning best adapted screenplay for JOJO RABBIT",Jojo Rabbit
99,Oscar-Winning 'Parasite' Lands One-Week IMAX Release Starting February 21 in 200+ Theaters,Parasite

Let's run the extractor on these post titles (calling the API in parallel for quicker results):

In [27]:
from concurrent.futures import ThreadPoolExecutor

extracted = []

# # Run the model to extract the entities
# with ThreadPoolExecutor(max_workers=8) as executor:
#     for i in executor.map(cohereMovieExtractor.extract, test_df['text']):
#         extracted.append(str(i).strip())

for text in tqdm(test_df['text'][5:10]):
    try:
        extracted_text = cohereMovieExtractor.extract(text)
        extracted.append(extracted_text)
    except Exception as e:
        print('ERROR: ', e)

# Save results

test_df['extracted_text'] = extracted

100%|██████████| 5/5 [00:06<00:00,  1.26s/it]

ValueError: ignored

Let's look at some results:

In [ ]:
test_df.head()

                                                                                      text  ... extracted_text
0                  Disney's streaming service loses some movies due to old licensing deals  ...           none
1  Hi, I’m Sam Raimi, producer of THE GRUDGE which hits theaters tonight. Ask Me Anything!  ...     The Grudge
2                                'Parasite' Named Best Picture by Australia's AACTA Awards  ...       Parasite
3  Danny Trejo To Star In Vampire Spaghetti Western ‘Death Rider in the House of Vampires’  ...    Death Rider
4                                I really wish the 'realistic' CGI animal trend would end.  ...           none

[5 rows x 3 columns]

Let's calculate the accuracy by comparing to the labeled examples

In [ ]:
# Compare the label to the extracted text
test_df['correct'] = (test_df['label'].str.lower() == test_df['extracted_text'].str.lower()).astype(int)

# Print the accuracy
print(f'Classification accuracy {test_df["correct"].mean() *100}%')

Classification accuracy 89.0%

So it seems this prompt works well on this small test set. It's not guaranteed it will do as well on other sets, however. The prompt can be improved by trying on more data, discovering edge cases, and adding more examples to the prompt.

We can look at the examples it got wrong:

In [ ]:
test_df[test_df['correct']==0]

                                                                                                                                        text  ... correct
3                                                    Danny Trejo To Star In Vampire Spaghetti Western ‘Death Rider in the House of Vampires’  ...       0
6                                                              De Niro recreating a scene from Goodfellas to test Irishman deaging (3:30 in)  ...       0
12                                                                Is there anyway way I could get a copy of 1917 for my dying father in law?  ...       0
30                                                                                              How Uncut Gems Won Over the Diamond District  ...       0
31  Michael J. Fox and Christopher Lloyd posing for the Back to the Future II poster in 1989 that would later be illustrated by Drew Struzan  ...       0
39                                                                                               2019 in film - with 'Movies' by Weyes Blood  ...       0
57     The Mad Max franchise is my all time favorite movie series. I finally watched Waterworld tonight. Oh man why didnt I see this sooner?  ...       0
69                                                                                            How A New Hope created Pixar Animation Studios  ...       0
75                                                                           A scene from the movie 1917 was recreated from the stroyboards.  ...       0
82                                                                                                                    New Wonder Woman image  ...       0
88                                                                                                              Thoughts on the Irishman ...  ...       0

[11 rows x 4 columns]

It indeed failed to pick up a few examples. Sometimes this uncovers edge cases and understandable mistakes (e.g. two films are mentioned in the text).


We can look at the classification report for a more detailed look at what's included in the test set, and what the model got right and wrong:

In [ ]:
from sklearn.metrics import classification_report
import warnings
warnings.filterwarnings('ignore')

print(classification_report(test_df['label'].str.lower(), test_df['extracted_text'].str.lower()))

                                      precision    recall  f1-score   support

                                1917       0.00      0.00      0.00         2
               2001: a space odyssey       1.00      1.00      1.00         1
                            ad astra       1.00      1.00      1.00         1
     alice doesn't live here anymore       1.00      1.00      1.00         1
                       austin powers       1.00      1.00      1.00         1
                  back to the future       0.00      0.00      0.00         0
               back to the future ii       0.00      0.00      0.00         1
                        blood simple       1.00      1.00      1.00         1
                   bohemian rhapsody       1.00      1.00      1.00         1
                         borderlands       1.00      1.00      1.00         1
                     brief encounter       1.00      1.00      1.00         1
                                cats       1.00      1.00      1.00         1
                               congo       1.00      1.00      1.00         1
                         death rider       0.00      0.00      0.00         0
death rider in the house of vampires       0.00      0.00      0.00         1
                 dolemite is my name       1.00      1.00      1.00         1
                      dracula untold       1.00      1.00      1.00         1
                              dreams       1.00      1.00      1.00         1
                                dune       1.00      1.00      1.00         1
                    edge of tomorrow       1.00      1.00      1.00         1
                             el topo       1.00      1.00      1.00         1
                        end of watch       1.00      1.00      1.00         1
                         faith based       1.00      1.00      1.00         1
                            fun home       1.00      1.00      1.00         1
                          goodfellas       0.00      0.00      0.00         1
                   gretel and hansel       1.00      1.00      1.00         1
                           hair love       1.00      1.00      1.00         1
                         hard boiled       1.00      1.00      1.00         1
                        interstellar       1.00      1.00      1.00         1
                           john wick       1.00      1.00      1.00         1
                         jojo rabbit       1.00      1.00      1.00         2
                           king kong       1.00      1.00      1.00         1
                          knives out       1.00      1.00      1.00         1
                        little women       1.00      1.00      1.00         1
                             mad max       0.00      0.00      0.00         1
                      marriage story       1.00      1.00      1.00         1
                              movies       0.00      0.00      0.00         0
                          ni no kuni       1.00      1.00      1.00         1
                                none       0.81      0.97      0.88        30
       once upon a time in hollywood       1.00      1.00      1.00         2
                            parasite       1.00      1.00      1.00         5
                         ratatouille       1.00      1.00      1.00         1
                            ricochet       1.00      1.00      1.00         1
                             robocop       1.00      1.00      1.00         1
                               rocky       1.00      1.00      1.00         1
                        rocky balboa       1.00      1.00      1.00         1
                                 run       1.00      1.00      1.00         1
                       shin godzilla       1.00      1.00      1.00         1
                           star wars       0.00      0.00      0.00         1
                             swallow       1.00      1.00      1.00         1
                        the big year       1.00      1.00      1.00         1
                     the flintstones       1.00      1.00      1.00         1
                           the grude       1.00      1.00      1.00         1
                          the grudge       1.00      1.00      1.00         3
                        the ice road       1.00      1.00      1.00         1
                        the irishman       0.00      0.00      0.00         1
                      the lighthouse       1.00      1.00      1.00         1
                       the two popes       1.00      1.00      1.00         1
                                togo       1.00      1.00      1.00         1
                             tumbbad       1.00      1.00      1.00         1
                          uncut gems       0.00      0.00      0.00         1
                     unknown soldier       1.00      1.00      1.00         1
                          waterworld       0.00      0.00      0.00         0
                              willow       1.00      1.00      1.00         1
                        wonder woman       0.00      0.00      0.00         1
                   wonder woman 1984       1.00      1.00      1.00         1

                            accuracy                           0.89       100
                           macro avg       0.80      0.80      0.80       100
                        weighted avg       0.84      0.89      0.86       100

This type of extraction is interesting because it doesn't just blindly look at the text. The model has picked up on movie information during its pretraining process and that helps it understand the task from only a few examples.

You can think about extending this to other subreddits, to extract other kinds of entities and information. [Let us know in the forum](https://community.cohere.ai/) what you experiment with and what kinds of results you see!

Happy building!